{% extends 'base.html.twig' %}
{% block title %}
    Totally Not Netflix | Index
{% endblock %}
{% block body %}
    <h1>
        Welcome to Totally Not Netflix!
    </h1>
    <p>
        Check our movies, place your rent and we'll deliver them to your home!
    </p>
    <a href="{{ path('movies') }}">
        See all Movies
    </a>
<footer>
    Made by Darkenend
</footer>
{% endblock %}