{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('movies') }}">
        <button>
            Back to Movies
        </button>
    </a>
    <h2>
        Return Rent - Return Date
    </h2>
{{ form(form) }}
{% endblock %}

{% block title %}
Totally Not Netflix | Rent Return
{% endblock %}

