{% extends 'nothome.html.twig' %}

{% block extendedbody %}
    <div class="container-fluid">
        <h2>
            Rental Return Menu {% if valid %} | Chosen Rental{% endif %}
        </h2>
        {% if valid %}
            <a href="{{ path('returningrent', { 'rent': rent }) }}" class="btn btn-success">
                Return Rent
            </a>
        {% else %}
            {{ form(form) }}
        {% endif %}
        <a href="{{ path('movies') }}" class="btn btn-danger">
            Back to Movies
        </a>
    </div>
{% endblock %}

{% block title %}
    Totally Not Netflix | Return Rent Menu
{% endblock %}

