{% extends 'base.html.twig' %}

{% block body %}
    <h2>
        Rental Return Menu
    </h2>
{{ form(form) }}
{% endblock %}

{% block title %}
    Totally Not Netflix | Return Rent Menu
{% endblock %}

