# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Library Mappings so people don't necessarily have this and leads to issues
/jsLibraryMappings.xml
